.content {
  padding: 40px;
}

.content__title {
  font-size: 35px;
  color: #38ada9;
  width: 100%;
  text-align: center;
}

.content__subtitle {
  text-align: center;
  color: #b2bec3;
  font-size: 25px;
}

.content__copy {
  text-align: center;
  font-size: 24px;
  color: #b2bec3;
  margin-left: 100px;
  margin-right: 100px;
}

.content__img {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  margin-top: 20px;
}

.content__list {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

.content__listitem {
  list-style-position: outside;
  text-align: left;
  line-height: 30px;
  font-size: 24px;
  color: #b2bec3;
}