.content {
  margin-top: 80px;
}

.content__title {
  color: #008b8b; 
  font-family: 'Palanquin Dark', sans-serif;
}

.content__subtitle {
  color: #5C575C;
}

.content__text {
  color: #5C575C;
}

.content__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 4px 8px 4px #5C575C;
}

a:hover img.content__img{
  box-shadow: 4px 8px 0px #008b8b;
}

ul li {
  padding: 0px 0px 5px 0px;
}

@media (min-width: 200px) {
  .content {
    padding-top: 0px;
  }

  .content__title{
    text-align: center;
    font-size: 25px;
  }

  .content__subtitle{
    text-align: center;
    font-size: 20px;
    line-height: 22px;
  }

  .content__text  {
    font-size: 16px;
    line-height: 22px;
  } 
}

@media (min-width: 700px) {
  .content {
    margin-top: 50px;
  }

  .content__title{
    font-size: 35px;
  }
  
  .content__subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .content__img {
    height: 175px;
    width: 175px;
  }
}