.contact {
  height: 10%;
  background-color: #f1f1f1;
}

.contact__email {
  text-align: center;
}

.contact__web {
  text-align: center;
}
.contact__label {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 24px;
  color: #008b8b;
}

.contact__link {
  color: #5C575C;
  font-size: 20px;
  line-height: 35px;
  text-decoration: none;
} 

@media (max-width: 800px) {
  .contact__label {
    font-size: 25px;
  }
  
  .contact__link {
    font-size: 17px;
  } 
}

@media (max-width: 650px){
  .contact__label {
    font-size: 18px;
  }
  
  .contact__link {
    font-size: 13px;
  } 
}

@media (max-width: 360px) {
  .contact__link {
    font-size: 10px;
  }
}