.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  padding: 40px;
}

.education__section {
  justify-self: center;
}

@media screen and (max-width: 800px) {
  .education {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0px;
  }

  .education__section {
    margin-top: 0px;
    margin-bottom:  0px;
    padding: 0px;
  }
}