.hero {
  background-color: #f1f1f1;    
  box-sizing: border-box; 
  position: relative; 
  height: 400px;
}

.hero__title {
  font-family: 'Palanquin Dark', sans-serif;
  color:#008b8b;
  font-size: 25px;
  padding-bottom: 10px;
}

.hero__subtitle {
  color: #5C575C;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.hero__text {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  width: 75vw;
}

.hero__images  {
  width: 243px;
  margin-left: auto;
  margin-right: auto;
}

.hero__image--flowers {
  width: 73px;
}

.hero__image--notebook {
  width: 80px;
  position: relative;
  top: 20px;
}

.hero__image--mug-and-pen {
  width: 80px;
}

@media (min-width: 800px){
  .hero__text {
    padding-bottom: 25px;
    width: 780px;
  }

  .hero__title {
    font-size: 35px;
    padding-bottom: 14px;
  }

  .hero__subtitle {
    font-size: 25px;
  }

  .hero__images  {
    width: 298px;
  }

  .hero__image--flowers {
    width: 90px;
  }

  .hero__image--notebook {
    width: 100px;
    top: 30px;
  }

  .hero__image--mug-and-pen {
    width: 100px;
  }
}