.hero--home {
  background-image: url("https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;               
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.hero {
  background-image: url("https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
  padding-top: 40px;
  padding-left: 10px;
}

.hero__title {
  font-size: 45px;
  color:#38ada9;
  text-align: left;
  margin-top: 18%;
  margin-left: 26.5%;
  margin-right: 25%;
}

.hero__subtitle {
  font-size: 30px;
  color: #b2bec3;
  text-align: left;
  margin-left: 26.5%;
}