.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #dadfe1;
}

.navbar__name {
  color: #008b8b;
  font-size: 45px;
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'Damion', cursive;
  text-decoration: none;
}

.navbar__link {
  float: left;
  display: float;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #008b8b;
  text-decoration: none;
  line-height: 4px;
}

@media screen and (max-width: 675px) {
  .navbar__name {
    font-size: 36px;
    padding-left: 10px;
  }
  .navbar__link {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .navbar__name {
    color: #008b8b;
    font-size: 35px;
    padding-left: 5px;
    padding-top: 15px;
  }
  
  .navbar__link {
    float: left;
    display: float;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px;
    font-size: 15px;
  }
} 

/* mobile devices*/
@media only screen and (max-width: 500px) {
  .navbar__name {
    color: #008b8b;
    font-size: 35px;
    padding-left: 5px;
    padding-top: 15px;
  }
  
  .navbar__link {
    float: left;
    display: float;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px;
    font-size: 15px;
  }
} 